#css-zen-garden {
	background-image: url(img/mechanics.jpg);
	background-repeat: no-repeat;
	background-position: fixed;
	background-color: rgba(66, 133, 244, 0.5);
	font-family: Verdana, Georgia,;
	font-size: 15px;
	color: white;
}

.intro{
	width: 500px;
	height: 500px;
}

header{
	position: absolute;
	right: 0;
	text-align: justify;
	font-size: 25px;
	border-radius: 10px;
	font-family: Arial;
	z-index: 1;
	margin: 10px 10px 10px 10px;
	padding: 15px;
	background-color: rgba(66, 133, 244, 0.5);
	
}

.summary{
	position: absolute;
	right: 0%;
	top: 36%;
	width: 35%;
	height: 19%;
	margin: 10px 10px 10px 10px;
	padding: 15px;
	border-radius: 10px;
	clear: right;
	font-family: Verdana;
	background-color: rgba(66, 133, 244, 0.5);
}

.preamble{
	position: absolute;
	right: 0%;
	top: 64%;
	width: 35%;
	height: 40%;
	margin: 10px 10px 10px 10px;
	padding: 15px;
	border-radius: 10px;
	clear: right;
	font-family: Verdana;
	background-color: rgba(66, 133, 244, 0.5);
}	

.main .supporting{
	width: 500px;
	height: 5000px;
}

.explanation{
	position: absolute;
	left: 0%;
	top: 129%;
	width: 30%;
	height: 50%;
	margin: 10px 10px 10px 10px;
	border-radius: 10px;
	font-family: Verdana;
	width: 50%;
	height: 50%;
	background-color: rgba(66, 133, 244, 0.5);
}

.participation{
	position: absolute;
	right: 0%;
	top: 129%;
	width: 30%;
	height: 50%;
	margin: 10px 10px 10px 10px;
	border-radius: 10px;
	border-radius: 10px;
	font-family: Verdana;
	width: 50%;
	height: 50%;
	background-color: rgba(66, 133, 244, 0.5);		
}

.benefits{
	position: absolute;
	left: 0%;
	top: 182%;
	width: 30%;
	height: 40%;
	margin: 10px 10px 10px 10px;
	border-radius: 10px;
	border-radius: 10px;
	font-family: Verdana;
	width: 50%;
	height: 50%;
	background-color: rgba(66, 133, 244, 0.5);		
}

.requirements{
	position: absolute;
	right: 0%;
	top: 182%;
	width: 30%;
	height: 120%;
	margin: 10px 10px 10px 10px;
	border-radius: 10px;
	border-radius: 10px;
	font-family: Verdana;
	width: 50%;
	height: 50%;
	background-color: rgba(66, 133, 244, 0.5);		
}

footer{
	border-radius: 10px;
	color: black;
	position: relative;
	bottom: 0,
	font-family: Verdana;
	width: 50%;
	height: 50%;
	background-color: rgba(66, 133, 244, 0.5);		
}

aside{
	position: absolute;
	bottom: 0%;
	text-align: justify;
	border-radius: 10px;
	color: black;
	font-family: Verdana;
	width: 30%;
	height: 70%;
	background-color: rgba(66, 133, 244, 0.5);		
}