
body {
	background-image: url("img/mechanics.jpg");
	background-repeat: no-repeat ;
	background-color: blue;
	font-family: Verdana, Georgia,;
	color: white;
}

header{
	border-radius: 10px;
	position: center;
	float: right;
	color: black;
	font-family: Arial;
	z-index: 1;
	width: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 120px;
	background-color: white;
	
}

.summary{
	border-radius: 10px;
	position: center;
	float: left;
	color: black;
	font-family: Verdana;
	width: 50%;
	margin-top: -20px;
	margin-bottom: 10px;
	height: 120px;
	background-color: green;
}

.preamble{
	border-radius: 10px;
	position: center;
	float: left;
	color: black;
	font-family: Verdana;
	width: 50%;
	margin-top: -20px;
	margin-bottom: 10px;
	height: 120px;
	background-color: blue;	
}	

.explanation{
	border-radius: 10px;
	position: center;
	float: left;
	color: black;
	font-family: Verdana;
	width: 50%;
	margin-top: -20px;
	margin-bottom: 10px;
	height: 120px;
	background-color: blue;	
}
